.searchBar {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.searchBar input {
  width: min(700px, 90%);
  padding: 14px 18px;

  border-radius: 999px;
  border: 1px solid #e0e0e0;

  font-size: 14px;
  outline: none;
  background: #f5f5f5;
}

.searchBar input:focus {
  background: white;
  border-color: #ccc;
}
