.nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.nav a {
  font: 500 16px arial;
  color: black;
  text-decoration: none;
}
.nav .active {
  color: blue;
  text-decoration: underline;
}
