.App {
  min-height: 100vh;
}

.topnav {
  position: sticky;
  top: 0;
  z-index: 999;

  background: white;        
  border-bottom: 1px solid #eaeaea;

  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 18px;
}

.page {
  padding-top: 12px;
}

.navLeft,
.navCenter,
.navRight {
  display: flex;
  align-items: center;
  gap: 14px;
}

.navCenter {
  gap: 22px;
}

.navLink {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 999px;
}

.navLink.active {
  background: #111;
  color: #fff;
}

.iconBtn {
  height: 22px;
  width: 22px;
  object-fit: contain;
}

.navLogo {
  height: 54px;
}
